
@import 'vars';
@import 'mixins';

.header {
    @include flex_0_0_between_center;
    background-color: $headerFooterColor;
    padding-top: 18px;
    padding-bottom: 18px;

    &_left{
        @include flex_0_0_0_center(33px);
    }

    &_right{
        @include flex_0_0_0_center(33px);
    }
    
    &_right__icolink__cart:after{
        content: '5';
        background-color: $mainColor;
        top: 5px;
        position: absolute;
        padding: 10px;
        margin-left: -10px;
        border-radius: 30px;
        color: #FFF;
        font-family: Lato;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }
    
}

.header a:hover svg path {
    fill: $mainColor;
}