
//Flex sets
@mixin flex_0_0_between_center{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin flex_0_0_space-between_0{
    display: flex;
    justify-content: space-between;
}

@mixin flex_0_0_center_center{
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin flex_0_0_center_0{
    display: flex;
    justify-content: center;
}

@mixin flex_0_0_0_center($gap){
    display: flex;
    align-items: center;
    gap: $gap;
}

@mixin flex_column_0_center_center{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex_column_0_center_0{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
@mixin flex_column_0_0_center{
    display: flex;
    flex-direction: column;
    align-items: center;    
}

@mixin flex_column_0_0_0{
    display: flex;
    flex-direction: column;
}




