@import 'vars';
@import 'mixins';

summary {
    //отключаем стилизацию details. стрелочки 
    display: block;
}

summary::-webkit-details-marker {
    //отключаем стилизацию details. стрелочки 
    display: none;
}

.catalog_head {
    background-color: #F8F3F4;
    padding-left: calc(50% - $contentWitdh / 2);
    padding-right: calc(50% - $contentWitdh / 2);

    &__content {
        @include flex_0_0_between_center;
        padding-top: 60px;
        padding-bottom: 60px;

        & h2 {
            @include font_family_lato($mainColor, 24px, 400);
        }

        & a {
            @include font_family_lato(#636363, 14px, 300);
        }

        &__bread__breadcrumbs {
            & a {
                color: #636363;

                &:last-child {
                    @include font_family_lato(#F16D7F, 14px, 700);
                }
            }
        }
    }
}

.filter-sort {
    display: flex;
    height: 132px;
    padding-top: 39px; //так как указана высота, padding добавит к существующей величине, поэтому указываем box-sizing: border-box
    box-sizing: border-box;
    position: relative;
    gap: 30px;
}

.filter {
    padding-top: 13px;
    box-sizing: border-box; // так как paddings добавляют значения ширины, чтобы их нивелировать
    width: 360px;
    z-index: 10;
    position: relative;

    &__content {
        background-color: #fff;
        padding: 0px 16px 16px 16px;

    }

    &[open] {
        //в открытом состоянии стилизуем блок, добавляя тень и рамку
        background: #FFF;
        box-shadow: (6px 4px 35px rgba(0, 0, 0, 0.21));
    }

    &[open] .filter__heading {
        //в открытом состоянии меняем цвет текста 
        color: $mainColor;
    }

    &[open] path {
        // в открытом состоянии меняем свойство атрибута path в svg
        fill: $mainColor;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 11px;
        padding-left: 16px;

    }

    &__heading {
        @include font_family_lato($textColorPlain, 14px, 600);
        line-height: 17px;
    }

    &__item {
        margin-top: 16px;
    }

    &__head {
        @include font_family_lato(#6F6E6E, 14px, 400);
        padding: 8px 11px 11px 11px;
        border-bottom: 1px solid #EBEBEB;
        border-left: 5px solid $mainColor;
    }

    &__item[open] .filter__head {
        color: $mainColor;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 24px 16px;
    }

    &__link {
        @include font_family_lato (#6F6E6E, 14pxm, 400);

        &:hover {
            //эффекты наведения на ссылку
            color: $mainColor;
        }
    }
}

.sort {
    padding-top: 12px;
    display: flex;
    align-items: center;
    gap: 18px;
    z-index: 10;
    @include font_family_lato( #6F6E6E, 14px, 400);

    &__details {
        position: relative;
    }

    &__summary {
        display: flex;
        align-items: center;
        gap: 10px;
    }


    &__box {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: absolute;
        left: -9px;
        top: 20px;
        background: #FFF;
        box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
        padding: 7px 30px 11px 9px;
    }

    &__check {
        display: flex;
        align-items: center;
        gap: 9px;
    }

}

.pagination {
    padding-bottom: 96px;

    &_content {
        width: 282px;
        border: 1px solid #EBEBEB;
        border-radius: 5px;
        display: flex;
        gap: 17px;
        padding: 15px 15px;
        @include flex_0_0_center_center;
        margin: 0 auto;
        text-wrap: nowrap;

        & a {
            @include font_family_lato(#C4C4C4, 16px, 300);

            &:nth-child(2) {
                color: #EF5B70;
            }
        }
    }

}