@import 'vars';
@import 'mixins';

.header {
    @include flex_0_0_between_center;
    background-color: $headerFooterColor;
    padding-top: 18px;
    padding-bottom: 18px;
    position: relative;

    &_left {
        @include flex_0_0_0_center(33px);
    }

    &_right {
        @include flex_0_0_0_center(33px);
    }

    &_right__icolink__cart:after {
        content: '5';
        background-color: $mainColor;
        top: 5px;
        position: absolute;
        padding: 10px;
        margin-left: -10px;
        border-radius: 30px;
        @include font_family_lato(#FFF, 12px, 400);

    }

}

.header a:hover svg path {
    fill: $mainColor;
}

.header label:hover path {
    fill: $mainColor;
}

#burger {
    position: absolute;
    left: -99999px;
    visibility: hidden;

    &:checked ~.menu {
         //display: none;
        right: -$widthBurgerMenu;
    }

}


.menu {
    box-sizing: border-box; // так как paddings добавляют значения ширины, чтобы их нивелировать
    width: 232px;
    z-index: 10;
    position: absolute;
    top: 78px;
    right: 0px;
    transition: right .3s;
    background-color: #fff;
    padding: 0px 0px 16px 16px;
    box-shadow: (6px 4px 35px rgba(0, 0, 0, 0.21));
    

    & h5 {
        padding-top: 37px;
        @include font_family_lato($textColorPlain, 14px, 600);
        line-height: 17px;
        position: relative;
    }

    &__close-icon{
        position: absolute;
        right: 17px;
        top: 16px;
    }

    &__item {
        margin-top: 16px;
    }

    &__head {
        @include font_family_lato(#6F6E6E, 14px, 400);
        padding: 8px 11px 11px 11px;
    }

    &__item[open] .menu__head {
        color: $mainColor;
    }

    &__link-box {
        display: flex;
        flex-direction: column;
        gap: 11px;
        padding: 12px 21px;
    }

    &__link {
        @include font_family_lato (#6F6E6E, 14pxm, 400);

        &:hover {
            //эффекты наведения на ссылку
            color: $mainColor;
        }
    }
}