@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
* {
  padding: 0px;
  margin: 0px;
}

* a {
  text-decoration: none;
}

.base {
  position: relative;
  overflow: hidden;
}

.center {
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}

@media (min-width: 767px) and (max-width: 1199.98px) {
  .center {
    padding-left: calc(50% - 367px);
    padding-right: calc(50% - 367px);
  }
  .title_head__img {
    width: 368px;
    height: 368px;
  }
  .title_head {
    justify-content: space-between;
  }
  .title_head__text__content {
    margin-top: 138px;
    margin-bottom: 151px;
    padding-right: 33px;
  }
  .title_head__text__content__text__title {
    font-size: 44px;
  }
  .title_head__text__content__text__plain {
    font-size: 24px;
  }
  .offer {
    display: grid;
    grid-template-columns: repeat(3, 231.392px);
    grid-template-rows: 167px 117px;
    gap: 19px;
    padding-top: 64px;
    padding-bottom: 109px;
  }
  .offer_img__small {
    display: none;
  }
  .main_text {
    padding-bottom: 73px;
  }
  .prod__btn {
    margin: 32px auto 70px auto;
  }
  .shop_boxes {
    grid-template-columns: repeat(2, 360px);
    gap: 16px;
    padding-bottom: 32px;
  }
  .benefit {
    flex-direction: column;
    padding-left: 204px;
    padding-right: 240px;
  }
  .subscription__blocks::before {
    background-size: cover;
  }
  .subscription__blocks {
    flex-direction: column;
  }
}
@media (min-width: 320px) and (max-width: 766.98px) {
  .center {
    padding-left: calc(50% - 171px);
    padding-right: calc(50% - 171px);
  }
  .title_head__img {
    display: none;
  }
  .header_right__icolink__cart {
    display: none;
  }
  .header_right__icolink__user {
    display: none;
  }
  .title_head {
    justify-content: center;
  }
  .title_head__text__content {
    margin-top: 148px;
    margin-bottom: 148px;
  }
  .offer {
    grid-template-columns: repeat(1, auto);
    grid-template-rows: auto;
    gap: 32px;
    padding-bottom: 64px;
  }
  .offer_img {
    width: 343px;
    height: 100%;
  }
  .offer_img__small {
    display: block;
    width: 343px;
    height: 100%;
    position: inherit;
    z-index: -1;
  }
  .offer_img__large {
    display: none;
  }
  .shop_boxes {
    gap: 16px;
    padding-bottom: 40px;
  }
  .prod__btn {
    margin: 40px auto 85px;
  }
  .benefit {
    flex-direction: column;
    padding-left: 14px;
    padding-right: 14px;
  }
  .subscription__blocks::before {
    background-size: cover;
  }
  .footer__content {
    flex-direction: column-reverse;
  }
  .social_icons {
    padding-bottom: 40px;
  }
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #222;
  padding-top: 18px;
  padding-bottom: 18px;
  position: relative;
}
.header_left {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header_right {
  display: flex;
  align-items: center;
  gap: 33px;
}
.header_right__icolink__cart:after {
  content: "5";
  background-color: #F16D7F;
  top: 5px;
  position: absolute;
  padding: 10px;
  margin-left: -10px;
  border-radius: 30px;
  color: #FFF;
  font-family: Lato;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header a:hover svg path {
  fill: #F16D7F;
}

.header label:hover path {
  fill: #F16D7F;
}

#burger {
  position: absolute;
  left: -99999px;
  visibility: hidden;
}
#burger:checked ~ .menu {
  right: -232px;
}

.menu {
  box-sizing: border-box;
  width: 232px;
  z-index: 10;
  position: absolute;
  top: 78px;
  right: 0px;
  transition: right 0.3s;
  background-color: #fff;
  padding: 0px 0px 16px 16px;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.menu h5 {
  padding-top: 37px;
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-height: 17px;
  position: relative;
}
.menu__close-icon {
  position: absolute;
  right: 17px;
  top: 16px;
}
.menu__item {
  margin-top: 16px;
}
.menu__head {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
}
.menu__item[open] .menu__head {
  color: #F16D7F;
}
.menu__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 12px 21px;
}
.menu__link {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14pxm;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.menu__link:hover {
  color: #F16D7F;
}

.title_head {
  display: flex;
  background-color: #F1E4E6;
  padding-left: calc(50% - 800px);
  padding-right: calc(50% - 800px);
}
.title_head__text__content {
  border-left: 12px solid #F16D7F;
  margin-top: 290px;
  margin-bottom: 381px;
  padding-left: 16px;
}
.title_head__text__content_text {
  display: flex;
  flex-direction: column;
}
.title_head__text__content_text h1 {
  color: #222;
  font-family: Lato;
  font-size: 48px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}
.title_head__text__content_text p {
  color: #222;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.title_head__text__content__text__pink {
  padding-left: 10px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.offer {
  display: grid;
  grid-template-columns: repeat(3, 360px);
  grid-template-rows: 260px 180px;
  gap: 30px;
  padding-top: 64px;
  padding-bottom: 96px;
}
.offer_category {
  position: relative;
  background: rgba(33, 22, 22, 0.7);
}
.offer_category_large {
  grid-column: 1/-1;
  position: relative;
  background: rgba(33, 22, 22, 0.7);
}
.offer_img {
  width: 100%;
  position: inherit;
  z-index: -1;
}
.offer_img__large {
  width: 100%;
  position: inherit;
  z-index: -1;
}
.offer_img__small {
  display: none;
}
.offer_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.offer_content p {
  color: #FFF;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.offer_content h3 {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.main_title {
  color: #222;
  font-family: Lato;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-bottom: 6px;
}

.main_text {
  color: #9F9F9F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
  padding-bottom: 48px;
}

.shop_boxes {
  display: grid;
  grid-template-columns: repeat(auto-fit, 360px);
  gap: 30px;
  padding-bottom: 48px;
}
.shop_boxes h2 {
  color: #000;
  font-family: Lato;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
}
.shop_boxes h3 {
  color: #F16D7F;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 16px;
  padding-bottom: 24px;
}
.shop_boxes p {
  color: #5D5D5D;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  padding: 16px 16px;
}

.shop_box {
  display: flex;
  flex-direction: column;
  background-color: #F8F8F8;
}
.shop_box__img {
  margin-bottom: 24px;
  position: relative;
}
.shop_box__img__cart {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 0;
  background: rgba(58, 56, 56, 0.86);
  transition: height 0.2s ease-in;
}
.shop_box__cart__btn {
  display: none;
  justify-content: center;
  align-items: center;
  gap: 11px;
  padding: 14px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #FFF;
  border: solid 1px #FFFFFF;
}

.shop_box:hover .shop_box__img__cart {
  height: 100%;
}

.shop_box:hover .shop_box__cart__btn {
  display: flex;
}

.button_p {
  display: flex;
}
.button_p a {
  color: #cd5364;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 19px;
  text-align: center;
  padding: 15px 39px;
  margin: 48px auto 60px auto;
  border: solid 1px #cd5364;
  transition: color 0.25s linear, background-color 0.25s linear;
  text-decoration: none;
}

.button_p:hover a {
  color: #FFFFFF;
  background: #cd5364;
}

.benefit {
  background-color: #222;
  display: flex;
  align-items: center;
  gap: 30px;
  padding-top: 103px;
  padding-bottom: 103px;
}
.benefit_card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.benefit_card h3 {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 16px;
}
.benefit_card p {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 4300;
  line-height: normal;
}
.benefit__img {
  padding-bottom: 20px;
}

summary {
  display: block;
}

summary::-webkit-details-marker {
  display: none;
}

.catalog_head {
  background-color: #F8F3F4;
  padding-left: calc(50% - 570px);
  padding-right: calc(50% - 570px);
}
.catalog_head__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.catalog_head__content h2 {
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.catalog_head__content a {
  color: #636363;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.catalog_head__content__bread__breadcrumbs a {
  color: #636363;
}
.catalog_head__content__bread__breadcrumbs a:last-child {
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.catalog_head__content__bread__breadcrumbs a:not(:last-child)::after {
  content: "/";
  margin-left: 6px;
}

.filter-sort {
  display: flex;
  height: 132px;
  padding-top: 39px;
  box-sizing: border-box;
  position: relative;
  gap: 30px;
}

.filter {
  padding-top: 13px;
  box-sizing: border-box;
  width: 360px;
  z-index: 10;
  position: relative;
}
.filter__content {
  background-color: #fff;
  padding: 0px 16px 16px 16px;
}
.filter[open] {
  background: #FFF;
  box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
}
.filter[open] .filter__heading {
  color: #F16D7F;
}
.filter[open] path {
  fill: #F16D7F;
}
.filter__summary {
  display: flex;
  align-items: center;
  gap: 11px;
  padding-left: 16px;
}
.filter__heading {
  color: #000;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  line-height: 17px;
}
.filter__item {
  margin-top: 16px;
}
.filter__head {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 8px 11px 11px 11px;
  border-bottom: 1px solid #EBEBEB;
  border-left: 5px solid #F16D7F;
}
.filter__item[open] .filter__head {
  color: #F16D7F;
}
.filter__link-box {
  display: flex;
  flex-direction: column;
  gap: 11px;
  padding: 24px 16px;
}
.filter__link {
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14pxm;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.filter__link:hover {
  color: #F16D7F;
}

.sort {
  padding-top: 12px;
  display: flex;
  align-items: center;
  gap: 18px;
  z-index: 10;
  color: #6F6E6E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.sort__details {
  position: relative;
}
.sort__summary {
  display: flex;
  align-items: center;
  gap: 10px;
}
.sort__box {
  display: flex;
  flex-direction: column;
  gap: 8px;
  position: absolute;
  left: -9px;
  top: 20px;
  background: #FFF;
  box-shadow: 6px 4px 35px 0px rgba(0, 0, 0, 0.21);
  padding: 7px 30px 11px 9px;
}
.sort__check {
  display: flex;
  align-items: center;
  gap: 9px;
}

.pagination {
  padding-bottom: 96px;
}
.pagination_content {
  width: 282px;
  border: 1px solid #EBEBEB;
  border-radius: 5px;
  display: flex;
  gap: 17px;
  padding: 15px 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  text-wrap: nowrap;
}
.pagination_content a {
  color: #C4C4C4;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.pagination_content a:nth-child(2) {
  color: #EF5B70;
}

.subscription__blocks {
  display: flex;
  justify-content: space-between;
  position: relative;
  padding-top: 97px;
  padding-bottom: 126px;
}
.subscription__blocks::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(./img/subscribe.png) no-repeat center center;
  background-size: auto;
  z-index: -1;
  opacity: 0.5;
}
.subscription__blocks_image {
  padding-bottom: 30px;
}
.subscription__text {
  color: #222222;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}
.subscription__text__italic {
  color: #222222;
  font-family: Lato;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  font-style: italic;
}
.subscription__quis {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subscribe {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 53px;
}
.subscribe__text {
  text-align: center;
}
.subscribe__text h2 {
  color: #222222;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
  line-height: 167%;
}
.subscribe__text p {
  color: #222222;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 167%;
}
.subscribe__email__form__btn form {
  display: flex;
  justify-content: center;
  width: 356px;
  height: 49px;
  padding-top: 32px;
}
.subscribe__email__form__btn input {
  display: flex;
  align-items: center;
  color: #222222;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  width: 256px;
  opacity: 0.67;
  background: #E1E1E1;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  padding-left: 22px;
  border: none;
}
.subscribe__email__form__btn button {
  display: flex;
  align-items: center;
  gap: 0;
  color: #FFFFFF;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  line-height: 17px;
  width: 100px;
  height: 49px;
  background: #F16D7F;
  cursor: pointer;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  vertical-align: middle;
  padding-left: 15px;
  border: none;
}

.footer {
  background-color: #222;
}
.footer__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 23px;
  padding-top: 24px;
}

.copyright {
  color: #FBFBFB;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.social_icons {
  display: flex;
  justify-content: space-between;
  width: 148px;
  height: 32px;
  gap: 8px;
}

.a_social:hover {
  background-color: #F16D7F;
}

.a_social {
  background-color: #FFF;
  padding: 8px 11px;
}

.carousel {
  position: relative;
  display: flex;
  background-color: #F7F7F7;
  height: 777px;
  justify-content: center;
  margin-bottom: 664px;
}
.carousel img {
  width: 597px;
  height: 724px;
}
.carousel button {
  width: 47px;
  height: 47px;
  fill: rgba(42, 42, 42, 0.15);
  border: none;
  background-color: rgba(42, 42, 42, 0.15);
}
.carousel__button-left {
  position: absolute;
  left: 0px;
  top: 365px;
}
.carousel__button-right {
  position: absolute;
  right: 0px;
  top: 365px;
}
.carousel button:hover path {
  fill: #F16D7F;
}
.carousel__description {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  width: 1141px;
  height: 601px;
  top: 701px;
  background-color: #fff;
  border: #EAEAEA solid 1px;
}
.carousel__description h4 {
  padding-top: 65px;
  padding-bottom: 12px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.carousel__description h3 {
  padding-top: 12px;
  padding-bottom: 48px;
  color: #4D4D4D;
  font-family: Lato;
  font-size: 18px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.carousel__description p {
  text-align: center;
  color: #5E5E5E;
  font-family: Lato;
  font-size: 14px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
  width: 555px;
  padding-bottom: 32px;
}
.carousel__description h2 {
  padding-bottom: 65px;
  color: #F16D7F;
  font-family: Lato;
  font-size: 24px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}
.carousel__description a {
  color: #F26376;
  font-family: Lato;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-left: 22px;
}
.carousel__separator-pink {
  width: 63px;
  height: 3px;
  background-color: #F16D7F;
}
.carousel__separator-brown {
  width: 641px;
  height: 1px;
  margin-bottom: 53px;
  background-color: #EAEAEA;
}
.carousel__sort {
  padding-bottom: 48px;
}
.carousel__add-to-cart-button {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 212px;
  height: 48px;
  border: #F16D7F solid 1px;
  padding-left: 24px;
}
.carousel__add-to-cart-button:hover path {
  fill: white;
}
.carousel__add-to-cart-button:hover {
  background-color: #F16D7F;
}
.carousel__add-to-cart-button:hover a {
  color: #F7F7F7;
}/*# sourceMappingURL=style.css.map */